# Log Files
*.log


wp-content/plugins/*
wp-content/themes/*

!wp-content/plugins/gerald-gutenberg-blocks/
!wp-content/themes/procoders/
# Wordpress System Files
/index.php
readme.html
xmlrpc.php
wp-activate.php
openimmo/
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/advanced-cache.php
wp-content/autoptimize_404_handler.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/index.php
wp-content/languages/
wp-content/plugins/gerald-gutenberg-blocks/node_modules
wp-content/plugins/gerald-gutenberg-blocks/build
wp-content/plugins/gerald-gutenberg-blocks/build/index.js
wp-content/plugins/gerald-gutenberg-blocks/build/index.asset.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php

# Wordpress Theme
wp-content/themes/procoders/node_modules
wp-content/themes/procoders/dist
wp-content/themes/procoders/sass/variables/_fonts.scss
wp-content/themes/procoders/mix-manifest.json
wp-content/themes/procoders/composer.json
wp-content/themes/procoders/files/newsletter.xml
# Server Files
.htaccess
.htpasswd
license.txt
robots.txt

#DS_Store
.DS_Store

/.idea/
/.vscode/
