.gerald-hero {
    @include flex-container(row, space-between, stretch);
    &__content {
        @include col-width(7);
        background: $gradientBg;
        padding: 40px 85px 64px 140px;
        position: relative;
    }
    &__image {
        @include col-width(5);
        flex-grow: 1;
        flex-shrink: 1;
        object-fit: cover;
    }
    &__title {
        margin: 0;
        font-family: Barlow Bold;
        font-size: 64px;
        color: $white;
        line-height: 65px;
    }
    &__subtitle {
        margin: 35px 0 0 0;
        font-family: Barlow Regular;
        font-size: 24px;
        color: $white;
        line-height: 28px;
    }
    &__form {
        margin-top: 35px;
        background: rgba($color: #ffffff, $alpha: 0.25);
        border-radius: 6px;
        padding: 15px 24px;
    }
    &__inputs {
        @include flex-container(row, space-between, stretch);
        flex-wrap: wrap;
    }
    &__input {
        @include col-width(5.4);
        height: 50px;
        margin: 15px 0 0 0;
        font-family: Barlow Light;
        font-size: 18px;
        line-height: 21px;
        color: $textDark;
        padding: 0 0 0 15px;
        border: none;
        &:focus {
            outline: none;
        }
    }
    &__number {
        width: calc(100% / 12 * 5.4 + 15px);
        height: 50px;
        margin: 15px 0 0 0;
        position: relative;
        input {
            width: calc(100% - 72.5px);
            height: 100%;
            font-family: Barlow Light;
            font-size: 18px;
            line-height: 21px;
            color: $textDark;
            margin: 0;
            padding: 0 0 0 72.5px; 
            border: none;
            &:focus {
                outline: none;
            }
        }
        select {
            position: absolute;
            left: 0;
            height: 100%;
            border: none;
            padding: 14px 0 14px 14px;
            background-color: #F2F5FF;
            font-family: Barlow Light;
            font-size: 18px;
            line-height: 21px;
            &:focus {
                outline: none;
            }
        }
    }
    &__privacy {
        margin-top: 12px;
        font-family: Barlow Light;
        font-size: 13px;
        line-height: 15px;
        color: $white;
    }
    &__cta {
        @include flex-container(row, center, flex-start);
        &-bg {
            background: $white;
            width: 155px;
            height: 55px;
            position: relative;
        }
        &-btn {
            @include flex-container(row, center, center);
            position: absolute;
            top: 0;
            left: 0;
            background: $btnBgBlue;
            width: 100%;
            height: 100%;
            cursor: pointer;
            font-family: Barlow Bold;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            box-shadow: $textShadow;
            &:hover {
                top: -4px;
                left: -4px;
            }
        }
    }
    &__symbol {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}